/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


 /* ==========================================================================
   Author's custom styles 
   ========================================================================== */
html {
	font-size: 16px;
}

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    padding: 0px 0px;
}

h1 {
    font-weight: normal;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
}

h3, 
h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    margin: 0px;
}

a {
    color: #e2e3ed;
    text-decoration: none;
}

img { 
	width: 100%;
}
 
figure {
        margin: 0;
}


header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: #202322;
    color: #e2e3ed;
    font-style: normal;
}
address p {
    font-style: normal;
}

ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

header nav li {
    list-style-type: none; 
}

.hero-area {
    padding: 0px 1.5rem 0px 1.5rem;
    display: flex;
    flex-flow: row wrap;
    background-image: url("../img/jake-melara-30679-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    color: #e2e3ed;
}
/**************************/
aside {
    color: #e2e3ed;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background: #527158;
}
aside div.content-wrapper {
    padding: 1.5rem 1.5rem 0px 1.5rem;
}

.form input {
    align-content: center;
    width: 100%;
    height: 2em;
    margin-bottom: 1em;
}
/*********************/
#features {
    display: flex;
    flex-flow: row wrap;
}
section.features div.content-wrapper {
    padding: 1.5rem 1.5rem 0px 1.5rem;
}
section.features {
    background: url('../img/rawpixel-unsplash1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 1rem;
    color: #e2e3ed;
}
section.features h3 {
    font-size: 1.4rem;
}

.features-item-description {
    padding-left: 3.5em;
    padding-right: 3.5em;
    padding-bottom: 2rem;
    font-size: 0.875em;
    text-align: center;
    margin: 0px;
}

#features .features-items {
    display: flex;
    flex-flow: row wrap;
}
/****************************/
.reviews {
    display: flex;
    flex-flow: row wrap;
}
section.reviews {
    background: #2a423a;
    color: #e2e3ed;
}

.reviews h2, .reviews h3 {
    padding-top: 1rem;
    font-weight: normal;
}

.reviews div.content-wrapper {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.reviews .content-wrapper p {
    text-align: justify;
    padding-bottom: 1.5rem;
}
/**************************/
footer {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

aside .form {
    margin-top: 30px;
}
   
input[type=text] {
box-sizing: border-box;
width: 100%;
margin-top: .5rem;
margin-bottom: .5rem;
color: #2a423a;
font-style: italic;
}

input[type=button] {
width: 100%;
background-color: #2a423a;
font-family: 'Poppins', Helvetica, Arial, sans-serif;
font-weight: 500;
font-size: 1.125em;
margin-top: .5rem;
margin-bottom: 2.5rem;
color: #e2e3ed;
border: none;
text-align: center;
text-transform: uppercase;
}
    

/********************************** About Styles ****************************/

.mission {
    display: flex;
    flex-flow: row wrap; 
}
div.mission-paragraphs {
    line-height: 1.8rem;
}
.mission div.content-wrapper {
    background: #527158;
    color:  #e2e3ed;
    padding: 2rem 1.8rem 2rem 1.8rem;
}
.mission h1 {
    line-height: 2.5rem;
    margin-top: 0px;
    display: block;
}
section.contact-section {
    background: #2a423a;
    color:  #e2e3ed;
    padding: 2rem 1.8rem 2rem 1.8rem;
}
.contact-section{
    text-align: center;
}
.contact-section {
    display: flex;
    flex-flow: row wrap;
}
section.contact-section div.content-wrapper address.contact-content {
    text-align: center;
    display: block;
    padding-bottom: 2rem;
}
.contact-content {
    display: flex;
    align-items: center;
    width: 100%;
}

section.contact-section h4  {
    font-style: normal;
    font-size: 1.25rem;
}


/************************************* FAQ Styles ****************************/



section.faq h1 {
    margin-top: 0px;
    padding-top: 3rem;
}
section.faq {
    background: #527158;
    color:  #e2e3ed;
    font-weight: normal;
    padding-left: 1rem;
    padding-right: 1rem;
}
div.question {
    padding-bottom: 2rem;
}

section.contact-section {
    padding: 0;
}

section.contact-section div.content-wrapper{
    padding-left: 2rem;
    padding-right: 2rem;
}



 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */



@media screen and (min-width: 768px)    /*************** Tablet Styles *****************/
{
    html {
        width: 100%;
    }
    
    header {
        width: 100%;
    }

    header div.content-wrapper {
        width: 100%;
    }

    header a {
        float: left; 
        padding-left: 25px;
        padding-right: 25px;
    } 
    ul {
        float: right;
    }

    footer .content-wrapper {
        width: 100%;
        padding: 0%;
    }
    div .footer-content {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    footer .contact {
        flex-basis: 50%
    }
    footer .social {
        flex-basis: 50%;
    }
    footer .copyright {
        width: 100%;
    }

    /********* Tablet Homepage *********/
    /***********/
    .hero-area h1 {             
       padding-left: 1.7em;
       padding-right: 1.7em;
    } 
    .form-description {
       padding-left: 3.3em;
       padding-right: 3.3em;
    }  
    .content-wrapper .form {
       margin-left: 3.3em;
       margin-right: 3.3em;
    }
   .form input {
       flex-grow: initial;
    }   
    aside div.content-wrapper {
        padding: 1.5rem 15% 0px 15%;
    }
    .features div.content-wrapper h3 {
        padding-left:3.3em;
    }
    section.features {
        display: flex;
    }
    .features-items {
        width: 100%;
    }
    .left {
        width: 50%;
        float: left;
    }
    .right  {
        width: 50%;
        float: left;
        clear: right;
    }
    .features-item-description {
        padding-left: 4.4em;
        padding-right: 4.4em;
    }
    section.reviews div.content-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center
    }
    .reviews {
        width: 100%;
        margin-right: 3em;
    }
    .reviews h2  {
        text-align: center;
        width: 100%;
        padding-bottom: 1rem;
    }
    .reviews h3 {
        padding-left: 3.5rem;
        padding-bottom: .5rem;
    }
    .reviews p {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
    .reviews figure {
        width: 50%;
        padding-bottom: 2rem;
    }
    .reviews article {
        width: 50%;
        align-content: center;
    }   
   
    /************** Tablet About Styles **************/
    /***********/
    
    .mission-content p {
        width: 100%;
    }
    div.mission-content {
        display: block;
    }
    div.mission-paragraphs {
        display: flex;
    }
    div.mission-paragraphs p {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.125rem;
        line-height: 1.8rem;
    }
    .mission div.content-wrapper {
        padding: 2rem 2rem 2rem 2rem;
    }
    .mission h1 {
        line-height: 2.5rem;
        padding-right: 1rem;
        text-align: center;
        font-size: 2rem;
    }

    .contact-section, .content-wrapper h2 {
        width: 100%;
    }
    section.contact-section div.content-wrapper {
        width: 100%;
    }
    
    section.contact-section div.content-wrapper address.contact-content {
        display: flex;
        justify-content: space-around;
    }
    section.contact-section h2 {
        font-size: 2.1rem;
        font-weight: normal;
    }

    /************** Tablet FAQ Styles **********/
    /***********/
    
    #faq-page header {
        height: 100px;
    }
    section.faq h1 {
        padding-left: 5%;
        padding-top: 5rem;
    }
    section.faq div.content-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        padding-bottom: 5rem;
    }    
    .question .content-wrapper h2 {
        width: auto;
    }
    div.question {
        flex-basis: 40%;
        font-size: .9rem;
    }
    .faq h2 {
        font-size: 1rem;
        padding-right: 15px;
    }
    footer .content-wrapper {
        width: 100%;
        padding: 0%;
    }
}

@media screen and (min-width: 1200px)  /************* Desktop/Laptop Styles *********************/
{
    body {
        padding: 0px 0rem;
    }
    /********** Header ***********/
    header a {
        float: none;
        width: auto;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1.125rem;
    }
    header div.content-wrapper {
        width: 100%;
        height: 6.25rem;
        justify-content: space-between;
        align-content: center;
    }
    /********** Footer ************/
    address h4 {
        font-size: 1.875rem;
        font-style: normal;
    }
    address p {
        font-size: 1.125rem;
    }
    div.copyright p {
        font-size: 1.125rem;
    }
    footer .contact {
        flex-basis: 50%;
    }
    div.footer-content h4 {
        font-size: 2rem;
    }

    div.footer-content p {
        font-size: 1.7rem;
    }

    /*********** Desktop/Laptop Homepage Styles ***********/
    /***********/
    
    .hero-area div.content-wrapper h1 {
        width: 100%;
        height: 31.25rem;
        padding-top: 2rem;
        font-size: 3.75rem;
        margin-top: 0px;
    }
    section.hero-area div.content-wrapper div.form {
        width: 50%;
    }

    /**** Aside: form and email input *****/

    div.content-wrapper {
        justify-content: space-around;
        width: 100%;

    }
    aside div.content-wrapper {
        display: flex;
        padding: 1rem 0 0 0;
    }
    div.content-wrapper .form {
        margin: 0;
    }
    aside {
        height: 15.625rem;
        align-items: center;
        padding-left: 8rem;
        padding-right: 8rem;
        width: auto;
    } 
    aside h3 {
        font-size: 1.875rem;
        margin: 0;
    }
    aside p {
        font-size: 1.125rem;
        margin: 0;
    }   
    aside div.form-description {
        width: 33%;
        padding: 0;
        margin: 0;
    }
    div.form-description p,h3 {
        padding-left: 0rem;
        padding-right: 0rem;
    }
    div.form {
        width: 33%;
        margin: 0;
        padding: 0;
    }

    /********* Features ********/

    section.features h3 {
        font-size: 2.25rem;
    }
    section.features p {
        font-size: 1.124rem;
    }
    .features-item-description {
        padding-left: 12.4rem;
        padding-right: 12.4rem;
    }

    /********** Reviews ********/

    .reviews div.content-wrapper {
        padding-left: 7.5rem;
        padding-right: 7.5rem;
        padding-bottom: 5rem;
    }
    section.reviews h2 {        
        margin-top: 3rem;
        padding-left: 0px;
        font-size: 2.25rem;
    }
    section.reviews article {
        width: 50%;
    }
    .reviews h3 {
        padding-left: 1.5rem;
        font-size: 1.875rem;
    }
    .reviews p {
        padding-left: 1.5rem;
        padding-right: 0;
        font-size: 1.125rem;
        line-height: 2.3rem;
    }  

    /*************************** Desktop/Laptop About styles **********/

    body#about {
        padding: 0px 0px;
    }
    header {
        font-size: 1.125rem;
    }
    div.mission-content {
        display: block;
    }
    div.mission-content h1 {
        font-size: 3rem;
    }
    div.mission-paragraphs {
        display: flex;
    }
    div.mission-paragraphs p {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        font-size: 1.125rem;
        line-height: 2.5rem;
    }
    .mission div.content-wrapper {
        padding: 3rem 5rem 3rem 5rem;
    }
    .mission h1 {
        font-size: 2.8rem;
        line-height: 3.8rem;
        padding-left: 24px;
        padding-right: 4rem;
        text-align: center;
        
    }

    .contact-section div.content-wrapper {
        width: 100%;
        font-style: normal;
        padding: 2.5rem 0 2.5rem 0;
    }

    .contact-section p {
        font-style: normal;
        font-size: 1.25rem;
        text-align: left;
    }
    section.contact-section h4 {
        font-size: 1.875rem;
        font-style: normal;
        text-align: left;
    }
   
    address p {
        font-style: normal;
    }

    .contact-section .content-wrapper h2 {
        font-size: 2.3rem;
    }

    /*************************** Desktop/Laptop FAQ styles **********/

    section.faq h1 {
        font-size: 3rem;
        padding-left: 2.3rem;
    }

    div.question h2 {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }

    div.question {
        font-size: 1.3rem;
        line-height: 2.1rem;
    }


@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


